*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
  /* position: fixed; */
}
#app {
  border: 1px solid black;
  background-color: yellow;
}
